
.header-contant{
    line-height: 88px;
    position: relative;

    .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .logo{
    width: 35%;
    height: 902px;
    background-color: #000000;
   
 }
 .navgation{
    width: 65%;
    height: 902px;
    background-color:#181823;
 }
}
}

.logo {

    .logo-title{
        margin-left: 72px;
    }
}


.navgation {
    
    ul{
    width: 477px;
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    position: absolute;
    right: 80px;

    a{
      padding: 32px;
      
      &:hover{
        background-color: #5221E6 ;
        opacity: 0.5;
      }
    }
    
}
}

.profile{
    width: 100%;
    height: 814px;
    position: absolute;
    top: 88px;
    left: 0;

    .profile-box{
        width: 100%;
        height: 650px;
        position: absolute;
        top: 84px;
    }
}

.profile-box{
        .img-profile{
            width: 740px;
            height: 100%;  
        }
        .profile-discription{
            width: 738px;
            height: 368px;
            position: absolute;
            left: 73%;
            top: 18%;
            transform: translateX(-50%);
            z-index: 1;
        }

    }

    .profile-discription {
        .profile-head {
            width: 100%;
            height: auto;                

            h2 {
            font-size: 78px;
            margin: 0;
            line-height: 1.1; 
            }
        }

        p {
            margin-top: 32px;
            font-size: 18px;
            line-height: 1.5;
            height: auto;
        }
        .highlight{
               color: #C7E0F4;
            }
}
